page-chararacter-info {
    .animal-img{
        height: 150px;
        width: 250px;
    }

    .animal-name{
        color:#344762;
        text-align: center;
        font-size: 35px;
    }

    .animal-description{
        text-align: center;
    }
}
