<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Directorio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

    <ion-content class="card-background-page">
      <ion-list class="list" ion-item *ngFor="let item of items; let i = index"> 
        <ion-card  (click)="test(i)">    
          <img id="img-dir" src= "{{item.img}}" >
        </ion-card>
      
        </ion-list>
      </ion-content>
  
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
