page-home {

    ion-content{
        background-image:url('./../assets/imgs/bg-home.jpg');
    }

    #impactos{
        height: 10%;
        
        
    }

    #impactos-row{
        margin-top: 6%;
      
    }
    
    #globe{
        height: 100%;
        text-align: center;
        margin-top: 5%;
    }
   
    #reto-button{
        bottom: 0px;
        margin-top: 14%;
    }
}
