page-directorio {
    .header-img{
        height: 150px;
        padding: 0px;

    }
    .brand-name{
        font-size: 40px;
        padding: 0px;
        margin-top: 6%;
    }

    .description{
        padding: 0px;
        margin-top: -4%;
    }
    .action-title{
        font-size: 20px;
        margin-top: -2%;
    }
    .action-img{
        height: 120px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
}
